*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

header{
    background-color: #3665af;
    padding: 20px 0;

}

.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 29px;
    font-weight: normal;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;

}

.form-element p{
    color: white;
    font-size: 14px;
}

.form-element input[type=email],
.form-element input[type=password]{
    margin-top: 4px;
    border: 0;
    padding-left: 4px;
    height: 22px;
}

.form-element  input[type=submit]{
    cursor: pointer;
    background-color: #1969e5;
    border: 2px solid #215ab2;
    color: white;
    padding: 3px  5px;
    border: 0;
    

}

.form-element input[type=submit]:hover{
    background-color: #215ab2;


}


section.main{
    background: linear-gradient(white, #d3d8e8);
    padding: 40px 0;
}

div.img-pessoas{
   float: left;
   width: 60%;
   
}

.img-pessoas img{
    max-width: 100%;
}

div.abrir-conta{
    float: left;
    width: 40%;
}

.abrir-conta h2{
    color: black;
    font-size: 35px;
    padding: 0 5px;
}

.abrir-conta h3{
    color: rgb(30, 30, 30);
    margin-top: 10px;
    font-size: 21px;
    font-weight: normal;
    padding: 0 5px;
}

form.criar-conta{
    margin-top: 10px   
}

.w50{
    width: 50%;
    float: left;
    padding: 0 5px;
}

.w100{
    width: 100%;
    float: left; 
    padding: 0 5px;
}

form.criar-conta input{
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type=text],
form.criar-conta input[type=email],
form.criar-conta input[type=password]{
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    outline: none;
}

form.criar-conta input[type=submit]{
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
}

   
form.w100 h3{
    color: #1d2129;
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
}

form select.nascimento{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.input-radio{
    margin: 10px;
    float: left;
    
}

.input-radio h4{
    display: inline-block;
    font-weight: normal;

}

.input-radio input[type=radio]{
    display: inline-block;
    width: auto !important;
}

section.liguas{
    padding: 30px 0;
    background: white;
}

section.linguas a{
    color: #365899;
    text-decoration: none;
    font-size: 12px;
    padding-right: 15px;
}

section.linguas  .center{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 8px;
    padding-right: 8px;
}

section.linguas a.selected-lingua{
    color: #737373;
}


section.linguas .linha2{
    border: 0;
    padding-top: 10px;
}
    

@media screen and (max-width: 768px){
    .logo{
        float: none;
        width: 100%;
        text-align: center;
    }
    form.form-login{
        float: none;
        display: inline-block;
        margin-top: 17px;
        width: 100%;
        text-align: center;
    }
    .form-login .form-element{
        display:block;
        margin: 10px 0;
    
    }
    
    .form-element p{
        color: white;
        font-size: 14px;
    }
    
    .form-element input[type=email],
    .form-element input[type=password]{
        margin-top: 4px;
        border: 0;
        padding-left: 4px;
        height: 22px;
        width: 100%;
        max-width: 320px;
    }

    div.img-pessoas{
        display: none;
    }
    div.abrir-conta{
        width: 100%;
   }

        

}

    


